:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --primary-color:#EE4d2d;
    --border-color:#dbdbdb;
    --sold-star-color:#FFCE3D;
    --header-height:120px;
    --navbar-height:34px;
    --header-with-search-height:calc(var(--header-height) - var(--navbar-height));
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
/* Test responsive */
.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}

/* header_QR */
@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;

    }
}
@keyframes growth{
    from{
        transform: scale(var(--grow-from));
        -webkit-transform: scale(var(--grow-from));
        -moz-transform: scale(var(--grow-from));
        -ms-transform: scale(var(--grow-from));
        -o-transform: scale(var(--grow-from));
}
    to{
        transform: scale(var(--grow-to));
        -webkit-transform: scale(var(--grow-to));
        -moz-transform: scale(var(--grow-to));
        -ms-transform: scale(var(--grow-to));
        -o-transform: scale(var(--grow-to));
}
}

/* Modal */
.modal{
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadein linear 0.1s;
    -webkit-animation: fadein linear 0.1s;
}
.modal__overley{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.modal__body{
    --grow-from:0.7;
    --grow-to:1;
    margin: auto;
    position: relative;
    z-index: 2;
    animation:growth linear 0.1s ;
    -webkit-animation:growth linear 0.1s ;
}

/* auth__btn */
.btn{
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    padding: 0 12px;
    font-size: 1.5rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);

}
.btn.btn-primary{
    background-color: var(--primary-color);
    color: var(--white-color); 
}
.btn.btn--normal:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.btn.btn-disable{
    background-color: #c3c3c3;
    color: #949494;
    cursor: default;
}
.btn.btn--size-s{
    height: 32px;
    font-size: 1.2rem;
    padding: 0 8px;
}

/* Selection */
.select-input{
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.select-input__lable{
    font-size: 1.4rem;
}
.select-input-icon{
    font-size: 1.4rem;
    color: rgba(131,131,131);
    position: relative;
    top:1px;
}
.select-input__list{
    padding-left: 0;
    list-style: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 26px;
    background-color: var(--white-color);
    display: none;
}
.select-input__item{
    padding: 8px 18px;
}
.select-input__link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
}
.select-input:hover .select-input__list{
    display: block;
    color: var(--primary-color)
}
.select-input__link:hover{
    color: var(--primary-color);
}
